/* Custom CSS for testing - Academic style */
@page {
  size: A4;
  margin-top: 35mm;
  margin-right: 30mm;
  margin-bottom: 30mm;
  margin-left: 30mm;
}

body {
  font-family: "Times New Roman", serif;
  font-size: 12pt;
  line-height: 2.0;
  text-align: justify;
}

h1 {
  font-size: 16pt;
  text-align: center;
  margin-top: 0;
}